*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
}
body{
    height: 100%;
    background: linear-gradient(
        to right,
        #575ce5 50%,
        #f9fbfc 50%
    ) fixed;
    line-height: 1.5;
}
.wrapper {
    display: flex;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}
.main{
    background-color: #ffffff;
    width: 400px;
    padding: 25px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 45%;
    left: 50%;
    box-shadow: 15px 30px 35px rgba(0,0,0,0.1);
    border-radius: 10px;
    -webkit-perspective: 300px;
    perspective: 300px;
    flex-grow: 1;
    overflow-y: auto;
    z-index: 2;
}


.footer {
    width: 250px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 90%;
    left: 50%;
    color: #ffffffd5;
    background-color: #00000080;
    text-align: center;
    border-radius: 10px;
}

    #footer-text:hover {
        color: #4c57f3;
    }

/*****************************
    AD SECTIONS
*****************************/

@media only screen and (min-width: 1400px) {
    .card-ad-left{
        display: block !important;
        height: 65%;
        width: 25%;
        top: 45%;
        left: 20%;
    }
    
    .card-ad-right{
        display: block !important;
        height: 65%;
        width: 25%;
        background-color: #575ce5;
        top: 45%;
        left: 80%;
    }
}

@media only screen and (min-width: 936px) and (max-width: 1400px) {
    .card-ad-leftThin{
        display: block !important;
        height: 80%;
        width: 250px;
        top: 45%;
        left: 15%;
    }
    .card-ad-rightThin {
        display: block !important;
        height: 80%;
        width: 250px;
        background-color: #575ce5;
        top: 45%;
        left: 85%;
    }
}

.card-ad-leftThin{
    display: none;
}
.card-ad-rightThin {
    display: none;
}

.card-ad-left{
    display: none;
}

.card-ad-right{
    display: none;
}

.card-ad-right{
    display: none;
}

.ad{
    width: 100%;
    height: 100%;
}

/*****************************
    GAME
*****************************/
.info {
    width: 100%;
}
.betToggle {
    float: left;
}
.stats{
    float: right;
    text-align: right;
    color: #101020;
    font-weight: 500;
    line-height: 25px;
}
.coin{
    height: 150px;
    width: 150px;
    position: relative;
    margin: 50px auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.coin img{
    width: 145px;
}
.heads,.tails{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.tails{
    transform: rotateX(180deg);
}
@keyframes spin-tails{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(1980deg);
    }
}
@keyframes spin-heads{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(2160deg);
    }
}

#info-text {
    text-align: center;
    margin-bottom: 5px;
}

#user-wallet{
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;}

button{
    width: 120px;
    padding: 10px 0;
    border: 2.5px solid #424ae0;
    border-radius: 5px;
    cursor: pointer;
}

.price-buttons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
    .price-buttons button {
        width: 80px;
        background-color: #e1c841;
        color: #000000;
    }

.side-buttons{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
    .side-buttons:after{
        content: none;
        clear: both;
        display: table;
    }
    .side-buttons button {
        width: 100px;
        background-color: rgb(65, 130, 225);
        color: #ffffff;
    }
    #heads-button:disabled {
        background-color: #e1e0ee;
        border-color: #e1e0ee;
        color: #101020;
    }
    #tails-button:disabled {
        background-color: #e1e0ee;
        border-color: #e1e0ee;
        color: #101020;
    }

.action-buttons{
    display: flex;
    justify-content: space-between;
}
    #flip-button{
        background-color: #424ae0;
        color: #ffffff;
    }
    #flip-button:disabled{
        background-color: #e1e0ee;
        border-color: #e1e0ee;
        color: #101020;
    }
    #reset-button{
        background-color: #ffffff;
        color: #424ae0;
    }

.test-buttons{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
    #sim-button{
        width: 60%;
        background-color: #424ae0;
        color: #ffffff;
    }
    #sim-button:disabled{
        background-color: #e1e0ee;
        border-color: #e1e0ee;
        color: #101020;
    }
    
/*****************************
    CONNECT WALLET
*****************************/

@media only screen and (min-height: 700px) {
    .connect{
        margin: 5px;
        display: flex !important;
        justify-content: space-around;
        flex-direction: row;
    }
}
.connect{
    display: none;
}
    #connect-button{
        width: 100%;
        background-color: #424ae0;
        color: #ffffff;
    }
    #connect-button:disabled{
        background-color: #e1e0ee;
        border-color: #e1e0ee;
        color: #101020;
    }